<form action="action_page.php" method="post">
  
	<div class="container">
	  <label for="email"><b>Email</b></label>
	  <input type="email" placeholder="Enter email" name="email" [(ngModel)]="loginObj.email" required>
  
	  <label for="pwd"><b>Password</b></label>
	  <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="loginObj.password" required>
  
	  <button type="submit" (click)= "onLogin()">Login</button>
	</div>
  
	<div class="container" style="background-color:#f1f1f1">
	  <button type="button" class="cancelbtn" (click)= "onCancel()">Cancel</button>
	</div>
  </form>